[Unit]
Description=Prometheus exposer for RuuviTag

[Service]
Type=simple
ExecStart=/opt/ruuvi/bin/ruuvi_exposer
WorkingDirectory=/opt/ruuvi
User=pi

[Install]
WantedBy=multi-user.target
