[Unit]
Description=Prometheus exposer for RuuviTag
StartLimitIntervalSec=60
StartLimitBurst=3
After=bluetooth.target

[Service]
Type=simple
ExecStart=/opt/ruuvi/bin/ruuvi-exposer
WorkingDirectory=/opt/ruuvi
User=massimo
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
